body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #003554;
    overflow-x: hidden;
}

.navBar {
    overflow: hidden;
    background-color: #000814;
    width: 100%;
    align-content: center;
    display: inline-block;
}

.navBar h1, .navBar a {
    display: inline-block;
    color: white;
}

.navBar a {
    float: right;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    padding: 14px 30px;
    margin-top: 16px;
}

.navBar a:hover {
    background-color: #003566;
    cursor: pointer;
}

.navBar input[type=text] {
    margin-left: 35%;
    padding: 7px;
    width: 15%;
    background-color: #e5e5e5;
    border-radius: 15px;;
}

.login-signup {
    display: inline-block;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: #0b132b;
    width: 500px;
    height: auto;
    padding-bottom: 20px;
    margin-top: 10%;
    padding: 50px;
    justify-content: center;
    margin-left: 35%;
}

.login-signup input {
    margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 1px;
    font-size: 20px
}

.login-signup h1 {
    color: #6fffe9;
}

.login-signup .underline {
    position: absolute;
    height: 2px;
    width: 290px;
    margin-left: 100px;
    transform: translateY(-2px);
}

.username-ph, .password-ph, .email-ph, .confirm-ph {
    position: fixed;
    pointer-events: none;
    color: grey;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s;
    left: 855px;
}

.username-ph {
    top: 345px;
}

.email-ph {
    top: 409px;
}

.password-ph {
    top: 475px;
}

.confirm-ph {
    top: 540px;
}

.login-signup .underline:before {
    position: absolute;
    height: 2px;
    content: '';
    background-color: #6fffe9;
    width: 230px;
    margin-right: 200px;
    height: 100%;
    margin-left: -122px;
    transform: translateY(-2px);
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.spacing {
    padding: 12px 12px;
}

.login-signup .text-field:focus ~ .username-ph, .text-field:not(:placeholder-shown).text-field:not(:focus) ~ .username-ph,
.login-signup .text-field:focus ~ .email-ph, .text-field:not(:placeholder-shown).text-field:not(:focus) ~ .email-ph,
.login-signup .text-field:focus ~ .password-ph, .text-field:not(:placeholder-shown).text-field:not(:focus) ~ .password-ph,
.login-signup .text-field:focus ~ .confirm-ph, .text-field:not(:placeholder-shown).text-field:not(:focus) ~ .confirm-ph {
    background-color: #0b132b;
    padding: 0 10px;
    border-left: 2px solid #6fffe9;
    border-right: 2px solid #6fffe9;
    color: #6fffe9;
    font-size: 12px;
    transform: translateX(10px) translateY(-24px);
}

.login-signup .text-field:focus ~ .underline:before {
    transform: scaleX(1);
    color: #6fffe9;
}

.login-signup .text-field {
    width: 200px;
    margin: 0;
    background: none;
    border: 2px solid #0b132b;
    border-bottom: 2px solid grey;
    color: white;
}

.text-field:focus {
    outline: none;
}

.login-signup .login-signup-btn {
    margin-top: 15px;
    padding: 5px 5px;
    background-color: grey;
    transition: 0.4s ease;
    border: 1px solid grey;
}

.login-signup .login-signup-btn:hover, .addItemsBtn:hover{
    cursor: pointer;
    background-color: #6fffe9;
    color: #0b132b;
    border: 1px solid #6fffe9;
}

.admin-login {
    color: grey;
}

.admin-login a {
    color: white;
}

.admin-login a:hover {
    color: #6fffe9;
}

.noitems {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: #e63946;
    width: 500px;
    height: auto;
    padding-bottom: 20px;
    padding: 50px;
    justify-content: center;
    margin-left: 35%;
    color: #fdf0d5;
    visibility: hidden;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gridItem {
    padding: 10px;
    background-color: #457b9d;
    text-align: center;
    font-weight: bold;
}

.editItemBtn {
    background-color: grey;
    color: white;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    transition: 0.4s ease;
}

.editItemBtn:hover {
    cursor: pointer;
    background-color: #6fffe9;
    border: 1px solid #6fffe9;
    color: black;
}